body{background-color: rgb(184, 184, 184);
}
h1 {color: rgb(255, 255, 255);
}
.p3 {text-align: center;
     font-size: 150%;  
     color: #4c00ff;
     border-width: 5px;  
     border-color: #ff00b3; 
     border-style: double;
     margin-left: 45%;
     margin-right: 25%;
}
.p3 {background-color: rgb(170, 170, 170);
}
.p1 {border-width: 5px;
     border-color: #ff00b3;
     border-style: double;
     margin-left: 40%;
     margin-right: 40%;
     padding-top: 3%;
}
.p1 {background-color: rgb(170, 170, 170);
}
.p2 {text-align: end;
    font-size: 120%;
    color: #00ffdd;
}
.p4 {text-align: justify;
    font-size: 100%;
    color: #e5ff00;
}
.p2 {border-width: 5px;
     border-color: #ff00b3;
     border-style: double;
     margin-left: 75%;
     margin-right: %;
     padding-top: 3%;
}
.p2 {background-color: rgb(170, 170, 170);
}
.p4 {border-width: 5px;
    border-color: #ff00b3;
    border-style: double;
    margin-left: %;
    margin-right: 79%;
    padding-top: 3%;
}
.p4 {background-color: rgb(170, 170, 170);
}