body{background-color: rgba(107, 98, 98, 0.767);
}
h1 {color: rgb(0, 0, 0);
}

.p1 {border-width: 5px;
     border-color: #830f0b;
     border-style: double;
     margin-left: 40%;
     margin-right: 48%;
     padding-top: %;
}
.p1 {background-color: rgba(107, 98, 98, 0.767);
}

.p2 {text-align: justify;
    font-size: 100%;
    color: #000000;
}


.p2 {border-width: 5px;
    border-color: #19922d;
    border-style: double;
    margin-left: %;
    margin-right: 79%;
    padding-top: %;
}
.p2  {background-color: rgba(107, 98, 98, 0.767);
}
.p3 {text-align: justify;
    font-size: 100%;
    color: #000000;
}


.p3 {border-width: 5px;
    border-color: #2e2bcc;
    border-style: double;
    margin-left: 81.5%;
    margin-right: 0%;
    padding-top: %;
}
.p3  {background-color: rgba(107, 107, 107, 0.767);
}
